<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadAction</servlet-name>
        <servlet-class>emotki.UploadAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAction</servlet-name>
        <servlet-class>emotki.DeleteAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadAction</servlet-name>
        <servlet-class>emotki.DownloadAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadAction</servlet-name>
        <url-pattern>/UploadAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAction</servlet-name>
        <url-pattern>/DeleteAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadAction</servlet-name>
        <url-pattern>/DownloadAction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <request-character-encoding>
        UTF-8
    </request-character-encoding>
    <welcome-file-list>
        <welcome-file>galeria.jsp</welcome-file>
    </welcome-file-list>
</web-app>
